.artGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  position: relative;
  margin-bottom: 25px;
}

.sort {
  height: 80px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.sortBtn {
  font-size: 24px;
}

.size__grid {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: saturate(0.5);
}

@media (max-width: 720px) {
  .size__grid {
    filter: saturate(1);
  }
  .artGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
